footer.footer
  a.footer__link(href='/nous-contacter', title='Notre adresse')
    i.fa.fa-map-marker
    | 12, Rue Constantin Meunier 1348 Louvain-la-Neuve
  a.footer__link(href='mailto:info@louvainlinux.org', title='Notre email')
    i.fa.fa-envelope
    | info@louvainlinux.org

  .footer__icons
    a.facebook(href='https://www.facebook.com/LouvainliNuxKap', title='Facebook', target='_blank')
      i.fa.fa-facebook
    a.gitlab(href='https://gitlab.com/louvainlinux', title='GitLab', target='_blank')
      i.fa.fa-gitlab
    a.discord(href='https://discord.gg/S2AxqqAnTX', title='Discord', target='_blank')
      i.fab.fa-discord
    a.instagram(href='https://instagram.com/louvainlinux', title='instagram', target='_blank')
      i.fab.fa-instagram
