//- Import mixins
include ../mixins/alert.pug

//- Access to variables in extends file
block variables

//- HTML template
doctype html
html(lang='fr')
  head
    //- Charset and Title
    meta(charset='utf-8')
    title #{title} | Louvain-li-Nux

    //- Favicon
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
    link(rel='icon', href='/favicon.png', type='image/png')

    //- Metas
    block meta
      meta(name='author', content='Louvain-li-Nux')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')

    //- CSS
    block css
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600|Source+Sans+Pro:400,700')
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous")
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
      link(rel='stylesheet' href='/css/app.min.css')

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  body
    .site-container
      .site-pusher
        .container
          //- Site Header
          include ../elements/header.pug

          //- Main
          main.main
            block content

          //- Footer Header
          include ../elements/footer.pug

          #site-cache.site-cache

    //- JS
    block js
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
      script(src='/js/app.min.js')
