mixin date_activity_git()
	// START - EDIT THESES VARIABLES ONLY !!!
	// Date(YEAR(yyyy), MONTH(0-11), DAY(1-31) HOURS(0-23), MINS(0-59))
	-const activity 	= "Atelier Git"
	-const start_date 	= new Date(2021, 8, 23, 13, 00)
	-const end_date 	= new Date(2021, 8, 23, 20, 00)
	-const location 	= "BARB02 et BARB03"
	//  END  - EDIT THESES VARIABLES ONLY !!!


	-const curr_date = new Date()
	if end_date < curr_date
		p!= "<strong>Aucun " + activity + " n'est prévu pour le moment.</strong>"

	else
		-const months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"]
		-const start_month = months[start_date.getMonth()]
		-const end_month = months[end_date.getMonth()]
		-const start_min = (start_date.getMinutes() < 10) ? 0+start_date.getMinutes().toString() : start_date.getMinutes().toString()
		-const end_min = (end_date.getMinutes() < 10) ? 0+end_date.getMinutes().toString() : end_date.getMinutes().toString()

		p!= "Notre <strong>" + activity + "</strong> aura lieu le <strong>" + start_date.getDate() + " " + start_month + " " + start_date.getFullYear() + "</strong> au <strong>" + location + "</strong> de <strong>" + start_date.getHours() + "h" + start_min + " à " + end_date.getHours() + "h" + end_min + "</strong>."
