/* ressources/assets/stylus/layout/footer.styl
 *
 * Copyright (C) 2018 Louvain-li-Nux <info@louvainlinux.org>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.footer
    padding 10px 0
    border-top 2px solid $skin-color
    text-align center

.footer__link
    display block
    margin 15px 0
    font-weight 600
    transition color $transition-duration

    &:hover
        color $skin-color

    i
        margin-right 5px

.footer__icons
    margin 15px 0

    a
        padding: 0 8px
        font-size 1.4rem
        transition color $transition-duration

        social-color('facebook', $facebook)
        social-color('gitlab', $gitlab)
        social-color('discord', $discord)
        social-color('instagram', $instagram)

+above($tablet)
    .footer__link
        display inline-block
        margin 0
        padding 0 8px

    .footer__icons
        display inline-block

        a
            font-size 1.3rem
