extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug
include ../mixins/dates/date_atelier_latex.pug

//- Set variables for the layout
block append variables
  - var title = 'Atelier LaTeX'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/atelier-latex.png' alt='Logo LaTeX')

    h1 #{title}

    +date_activity_latex

    p #[a(href="https://fr.wikipedia.org/wiki/LaTeX") LaTeX] est un système d'édition de documents. Son objectif final est proche de celui de Microsoft Word ou LibreOffice Writer: écrire et mettre en page des documents (articles, rapports, lettres, livres, etc.), mais son principe de fonctionnement est différent: on utilise des instructions sous forme de texte pour indiquer la structure du document et la mise en page est faite automatiquement !

    p LaTeX est donc un outil très puissant, qui permet d'écrire des documents (petits ou grands) avec une mise en page quasi-professionnelle avec très peu de travail, ce qui laisse les auteurs se concentrer sur l'écriture du contenu plutôt que sur la forme.

    p Comme LaTeX utilise un paradigme fort différent de beaucoup d'autres logiciels concurents, il peut sembler difficile d'accès. Avec notre atelier LaTeX, nous entendons démontrer le contraire: en deux heures, vous aurez composé un document simple, mais comprenant les éléments essentiels de la majorité des documents: chapitres, sections, paragraphes, page de garde, table des matières, figures, tableaux, notes de bas de page, bibliographie, mathématiques, etc.

    h2 Information pratiques:

    ul
        li L'atelier est organisé dans les salles informatiques de l'UCL, vous pouvez donc utiliser les ordinateurs de ces salles si vous possédez un identifiant UCL. Dans le cas contraire, veuillez amener un ordinateur.
        li La participation est gratuite, mais pour des questions d'organisation l'inscription est obligatoire (vous pouvez vous désinscrire à tout moment en nous envoyant un mail). Un lien vers le formulaire d'inscription sera publié sur cette page deux ou trois semaines avant le prochain atelier.
        li Les dates des ateliers sont annoncées en général trois semaines avant l'activité.

    p Si vous voulez apprendre LaTeX et que vous ne souhaitez pas attendre le prochain atelier, vous pouvez suivre des tutoriels sur le web, comme #[a(href="https://zestedesavoir.com/tutoriels/826/introduction-a-latex/") celui-ci]. En général, énormément de ressources sur LaTeX sont disponibles en ligne, et si jamais vous avez une question ou un problème particulier, n'hésitez pas à passer à une de nos #[a(href="/permanences") permanences informatiques].

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
