extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug
include ../mixins/dates/date_install_party.pug
include ../mixins/dates/date_atelier_latex.pug
include ../mixins/dates/date_atelier_git.pug
include ../mixins/dates/date_atelier_gimp.pug
include ../mixins/dates/date_geek_party.pug
include ../mixins/dates/date_game_jam.pug

//- Set variables for the layout
block append variables
  - var title = 'Dates Importantes'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    h1 #{title}

    +date_activity_linux
    +date_activity_latex
    +date_activity_git
    +date_activity_gimp
    +date_activity_geek
    +date_activity_gamejam

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
