extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug
include ../mixins/dates/date_game_jam.pug

//- Set variables for the layout
block append variables
  - var title = 'Game Jam'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/game-jam.jpg' alt='Game Jam')

    h1 #{title}

    +date_activity_gamejam

    p Vous avez toujours rêvé de créer un vrai programme de taille et pas des simples "Hello World"? Vous vous demandez comment contribuer à un projet libre ? Que vous soyez déjà un expert en développement de jeux ou un simple amateur de programmation, la Game Jam est la meilleure occasion de mettre en exergue votre créativité et votre talent informatique.

    p Le concept: 24 heures pour créer un jeu par groupe en Python. Votre jeu sera jugé sur plusieurs critères, et l'équipe gagnante repart avec une récompense (des micro-ordinateurs semblables à une Raspberry Pi)!

    h2 Information pratiques:
    ul
      li Notre Game Jam se déroule aux salles informatiques de l'UCLouvain.
      li Un repas payant peut être proposé pour ceux qui le souhaitent.
      li Vous êtes libre de choisir le language que vous voulez mais nous vous conseillons d'utiliser Python3 pour créer votre jeu. De nombreux modules existent pour en créer facilement: Pygame, pyglet ou encore Panda3D si vous vous chauffez vraiment!
      li Par soucis d’organisation, chaque participant devra créer un compte sur Github si ce n’est pas déjà fait. Il est plus simple pour nous si vous venez avec votre ordinateur portable, avec un éditeur de texte, et une idée du language de programmation que vous allez utiliser.
      li La participation est gratuite, mais nous limitons le nombre d’inscriptions afin de préserver la qualité de l’activité.

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
