extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug
include ../mixins/dates/date_install_party.pug

//- Set variables for the layout
block append variables
  - var title = 'Install Party'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/install-party.png' alt='Install Party')

    h1 #{title}
    
    +date_activity_linux

    p Une fois par quadri, nous vous proposons, pendant tout une après-midi de venir avec votre ordinateur pour vous installer Ubuntu (une distribution Linux) dans une ambiance conviviale.

    h2 Information pratiques:

    p L'installation dure 30-45 minutes (plus s'il y a des problèmes). Prévois le temps !

    p Nous #[strong ne] faisons #[strong pas] les installations d'Ubuntu sur #[strong Mac OS] en #[strong #[a(href="https://fr.wikipedia.org/wiki/Multiboot") Dual-Boot]] !!! (mais nous pouvons vous installer une #[a(href="https://fr.wikipedia.org/wiki/Machine_virtuelle") Machine Virtuelle]).

    p PS : pour gagner du temps, pense à :
    ul
        li prends ton chargeur
        li libères un minimum de 50Go d'espace disque
        li sauvegardes les données importantes qui sont sur ton ordinateur (sur un drive ou sur une disque externe)
        li si tu es sous Windows 7, défragmentes ton disque dur (HDD uniquement) : #[a(href='https://support.microsoft.com/fr-be/help/17126/windows-7-improve-performance-defragmenting-hard-disk') comment faire].
        li si tu t'en sens capable, tu peux vérifier si Bitlocker est présent sur ton PC, et si oui, désactives-le : #[a(href='https://fr.wikihow.com/d%C3%A9sactiver-BitLocker') comment faire]. (#[strong Nous le ferons pour toi dans tout les cas] (mais ça prendra plus de temps)).

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('activites')
