extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
  - var title = 'Membres du KAP'

//- Set specific page's metas like description, keyword, ...
block append meta
  meta(name='description', content='Description de la page')

block content
  section.main__content
    img.img-responsive(src='/uploads/photo-kot.jpg' alt='Membres du Louvain-li-Nux')

    h1 #{title}

    p Cette année l'équipe du Louvain-li-Nux est fière de compter 16 membres (9 internes et 7 externes):

    p Les internes :
      ul
        li Nicolas Jeanmenne
        li Guillaume Jadin
        li Tania Shafiei
        li Adrien Giot
        li Alexandre Zenon
        li Brieuc Dubois
        li Martin Gyselinck
        li Alexandre Dewilde
        li André Magerat

    p Les externes :
      ul
        li Félix Gaudin
        li Théo Vanden Driessche
        li Aymeric Wibo
        li Emile Villette
        li Aylin Defoy
        li Clément Delzotti
        li Vincent Higginson

  //- Include sidebar following the type ('projet', 'activites', 'services')
  +sidebar('projet')
