extends ../layouts/default.pug

block variables
  - var title = 'Nous contacter'

block append meta
  meta(name='description', content='TODO')

block content
  h1 #{title}

  div.contact
    p N'hésitez pas à nous envoyer un email à l'addresse #[a(href='mailto:info@louvainlinux.org', title='Notre email') info@louvainlinux.org].

    p Les informations sur nos évènements sont aussi disponibles sur notre #[a(href='https://www.facebook.com/LouvainliNuxKap/', title='Notre page Facebook') page Facebook].

    p Nous avons aussi un serveur #[a(href='https://fr.wikipedia.org/wiki/Discord_(logiciel)', title='Notre Discord') Discord] où vous pouvez nous rejoindre en cliquant #[a(href='https://discord.gg/S2AxqqAnTX') ici]


  .divider

  .openstreetmap
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.610266685485841%2C50.66403483645479%2C4.613675773143769%2C50.6655122543618&amp;layer=mapnik&amp;marker=50.66477%2C4.61197" style="border: 0"></iframe>
