extends ../layouts/default.pug

//- Import mixins
include ../mixins/sidebar.pug

//- Set variables for the layout
block append variables
    - var title = 'Permanences informatique'

//- Set specific page's metas like description, keyword, ...
block append meta
    meta(name='description', content='Description de la page')

block content
    section.main__content
        img.img-responsive(src='/uploads/ubuntu-logo.jpg' alt='Ubuntu')

        h1 #{title}
        p Vous rencontrez un problème avec votre ordinateur alors que vous utilisez Ubuntu ou une autre distribution GNU/Linux ? Vous souhaitez utiliser un système alternatif à Windows ou Mac OS ? Rendez-vous chez nous lors de nos permanences pour obtenir gratuitement de l’aide !

        p Les permanences ont lieu #[strong chaque lundi] de #[strong 18h30 à 21h], #[strong durant les semaines de cours]. Apportez simplement votre machine et expliquez-nous votre problème. Nous vous assisterons et le réglerons dans les limites de nos connaissances. Si nous ne parvenons pas à vous aider, nous vous conseillerons sur la meilleure façon de résoudre votre problème après l’avoir identifié.

        ul
           li #[strong Lieu] : #[a(href='/nous-contacter') Rue Constantin Meunier 12, 1348 Louvain-la-Neuve]
           li #[strong Quand] : Chaque lundi entre 18h30 et 21h, durant les semaines de cours.
           li #[strong Quoi] : Assistance informatique et conseils en logiciels et solutions libres.

        p PS: Nous #[strong ne] faisons #[strong pas] les installations d'Ubuntu sur #[strong Mac OS] en #[strong #[a(href="https://fr.wikipedia.org/wiki/Multiboot") Dual-Boot]] !!! (mais nous pouvons vous installer une #[a(href="https://fr.wikipedia.org/wiki/Machine_virtuelle") Machine Virtuelle]).

    //- Include sidebar following the type ('projet', 'activites', 'services')
    +sidebar('services')
